<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />	
	
	
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
	<script th:src="@{/js/script.js}"></script>


	<link rel="stylesheet" th:href="@{/css/styleUser.css}"/>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

  <script>
  function reportSeller()
  {
	  swal("Thank you for reporting!", "we will look into this", "success");
  }
  
  function deleteItem(cid)
  {
	  	swal({
	  title: "Are you sure?",
	  text: " you want to remove this item",
	  icon: "warning",
	  buttons: true,
	  dangerMode: true,
	})
	.then((willDelete) => {
	  if (willDelete) 
	  {
			window.location="/cx/remove/"+cid;  
	  } 
	  else 
	  {
	    swal("The item was not removed!");
	  }
	});
  }
  function placeOrder(cid)
  {
	  	swal({
	  title: "Should we place your order?",
	  text: " please confirm",
	  icon: "warning",
	  buttons: ["No!", "Yes!"],
	})
	.then((yes) => {
	  if (yes) {
			window.location="/cx/place-order/"+cid;
		  
	  } 
	});
  }
  function placeOrderOnline()
  {
	  swal({
		  title: "OOPS!",
		  text: "online payment mode is under construction",
		  icon: "warning",
		  dangerMode: true,
		})
	 
  }

  </script>

    <title th:text="${title}">Base HTML!</title>
  
  <script>
  function deleteContact(cid)
  {
	  	swal({
	  title: "Are you sure?",
	  text: " you want to delete this contact",
	  icon: "warning",
	  buttons: true,
	  dangerMode: true,
	})
	.then((willDelete) => {
	  if (willDelete) {
			window.location="/user/delete/"+cid;
		  
	  } else {
	    swal("Your contact is safe!");
	  }
	});
  }
  </script>

  
  
  
  </head>
  
  <body>
  
  <!-- navbar -->
  	<nav class=" fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
  	
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">TanishQ-Mall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/cx/dashboard/0}">Home</a>
        </li>
                
        <li class="nav-item">
          <a class="nav-link active" href="#" th:href="@{/cx/profile}">
          <span th:text="${user.name}"></span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/logout}">Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- end navbar -->

	<div class="sidebar mt-2">
		<span onclick="toggleSidebar()" class="crossBtn">&times;</span>
		<a href="#" th:href="@{/cx/dashboard/0}" class="item"><i class="fas fa-home"></i>  Home</a>
		<a href="#" th:href="@{/cx/show-orders/0}" class="item"><i class="fa fa-th-list" aria-hidden="true"></i>  Your orders</a>
		<a href="#" th:href="@{/cx/show-cart}" class="item"><i class="fa fa-shopping-cart" aria-hidden="true"></i>  Your cart</a>
		<a href="#" th:href="@{/cx/profile}" class="item"><i class="fas fa-user-circle"></i>  Your Profile</a>
		<a href="#" th:href="@{/cx/settings}" class="item"><i class="fas fa-cogs"></i>  Settings</a>
		<a href="#" th:href="@{/logout}" class="item"><i class="fas fa-sign-out-alt"></i>  Logout</a>
		<div class="divider"></div>
		
	</div>
	<!-- end sidebar -->
	
	
	<!-- content area -->
	<div class="content mt-5">
	
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
		
		
		<!-- alert message -->
		<div class="container" th:if="${session.message}">
			<div class="alert text-center" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			
		</div>
		<div th:replace="${content}">  </div>
	</div>
	<!-- end content -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>