<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="cx/base::layout(~{::section})">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>This is profile page</title> 
</head>
<body>
	<section >


		<div class="card mr-3">
			<div class="card-body mr-3">
				<h1 class="text-center">Review Your Order</h1>
				
				<table class="table">
				  
				  <thead>
				    <tr>
				      <th scope="col">Item-Name</th>
				      <th scope="col">Price</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				  
				    <tr th:each="c:${itemList}">
				      <th>
				      <span th:text="${c.name}"></span></th>


				      
				      <td >&#8377; <span th:text="${c.price}"></span></td>
				      			
				    </tr>
				    				    
				  </tbody>
				  
				</table>


			</div>

		</div>
		
		<div class="card">
		
			<h3 class="text-center" th:text="'Total: '+${total}"></h3>

		</div>

		<div class="card mt-3">
			<h4 class="text-center" th:text="'Delivery address: '+${user.address}"></h4>
		</div>

		<div class="container mt-5 text-center">Mode of Payment:-  
			<a href="#" th:onclick="|placeOrder(${user.id})|" class="btn btn-success btn-sm">Cash on delivery</a>  
			<a href="#" th:onclick="|placeOrderOnline()|" class="btn btn-success btn-sm">Online</a>
		</div>
		
	</section>
</body>
</html>