<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="cr/base::layout(~{::section})">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>This is user page</title> 
</head>
<body>
	<section>
		<div class="card mr-3">
			<div class="card-body mr-3">
				<h1 class="text-center">Your received orders!</h1>
				
				<table class="table">
				  
				  <thead>
				    <tr>
				      <th scope="col">#Courier-ID (#Order-ID)</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  
				  <tbody>
				    <tr th:each="order:${items}">
				      
				      <td><!-- show order details cx page -->
				      	<a href="#" th:href="@{'/'+${order.id}+'/order'}">
				      	<span th:text="'OSMMS-'+${order.id}"></span></a></td>
				      
				      					  
				      <td ><a href="#" th:onclick="|orderAction(${order.orderStatus.ordinal()}, ${order.id})|" class="btn btn-info btn-sm">
						<span th:text="${order.orderStatus}"></span></a>
					  </td>
					  
				    </tr>
				    
				  </tbody>
				  
				</table>

				<!-- pagination -->	
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/cr/dashboard/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
				    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/cr/dashboard/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
				    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/cr/dashboard/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
				  </ul>
				</nav>
				
				<!-- pagination end -->				


			</div>
			

		</div>
	
	</section>
</body>
</html>